<?php

/**
 * @author Torsten Ansorg <ta@plazz.ag>
 */

$this->headTitle('New Project');
$this->headScript()->prependFile($this->basePath('js/jenkins-create.js'));
$this->headScript()
    ->appendScript('route = "' . $this->base .'";')
    ->appendScript('path = "' . $this->path .'";');

?>

<div class="side-nav collapse">
    <div class="side-nav-head ta-right">
        <span class="icon icomoon icon-pushpin"></span>
        <!--<span class="icon icomoon icon-arrow-right" style="margin-right: -12px;"></span>
        <span class="icon icomoon icon-arrow-right" style="margin-right: -3px;"></span>-->
    </div>
    <div class="side-nav-body">
        <div class="side-nav-element">
            <div id="save-button">Save<span class="icomoon icon-floppy-disk"></div>
        </div>
        <div class="side-nav-element">
            <div id="save-button">Save & Re-Build<span class="icomoon icon-redo2"></div>
        </div>
        <div class="side-nav-element disabled">
            <div id="save-button">Delete<span class="icomoon icon-bin2"></div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>New project</h3>
            <!--<pre><?= var_dump($this->fn); ?></pre>-->
            <!-- global settings -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Global Settings</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 input-table">
                        <div class="input-table-group">
                            <div>
                                <div class="col-sm-2"><label for="identifier" class="control-label cursor-pointer">Identifier</label></div>
                                <div class="col-sm-10"><input type="text" required filter="identifier" name="identifier" id="identifier" class="col-sm-4 form-control-static" placeholder="net.plazz.mea.customer" /></div>
                            </div>
                            <div>
                                <div class="col-sm-2"><label for="scheme" class="control-label cursor-pointer">Scheme</label></div>
                                <div class="col-sm-10"><input type="text" required filter="identifier" name="identifier" id="scheme" class="col-sm-4 form-control-static" placeholder="net.plazz.mea.customer" /></div>
                            </div>
                            <div>
                                <div class="col-sm-2"><label for="app-name" class="control-label cursor-pointer">App name</label></div>
                                <div class="col-sm-10"><input type="text" name="app-name" required id="app-name" class="col-sm-4 form-control-static" placeholder="Mobile Event App" /></div>
                            </div>
                            <div>
                                <div class="col-sm-2"><label for="project-name" class="control-label cursor-pointer">Project name</label></div>
                                <div class="col-sm-10"><input type="text" required name="identifier" id="project-name" class="col-sm-4 form-control-static" placeholder="folder name" /></div>
                            </div>
                        </div>
                        <hr>
                        <div class="input-table-group">
                            <div>
                                <div class="col-sm-2"><label for="cms-domain" class="control-label cursor-pointer">CMS domain</label></div>
                                <div class="col-sm-6"><input type="text" name="cms-domain" required filter="domain" id="cms-domain" class="col-sm-12 form-control-static domain-input" placeholder="https://mea-cms.plazz.net" /></div>
                            </div>
                            <div>
                                <div class="col-sm-2"><label for="web-domain" class="control-label cursor-pointer">Frontend domain</label></div>
                                <div class="col-sm-6"><input type="text" name="web-domain" required id="web-domain" class="col-sm-12 form-control-static domain-input" placeholder="https://mea.plazz.net" /></div>
                            </div>
                        </div>
                        <hr>
                        <div class="input-table-group">
                            <div>
                                <div class="col-sm-2">
                                    <label for="maturity-input" class="control-label cursor-pointer">Maturity</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="text" name="maturity" id="maturity-input" class="col-sm-4 form-control-static" placeholder="<?= date('d. m. Y', (time()+14*24*3600)); ?>" />
                                    <button type="button" class="input-trigger" tabindex="-1" data-trigger="maturity-input"><span class="icomoon icon-calendar2"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="input-table-group">
                            <div>
                                <div class="col-sm-2"><label for="description" class="control-label cursor-pointer">Description</label></div>
                                <div class="col-sm-10"><textarea class="col-sm-12" rows="5" id="description" name="description"></textarea></div>
                            </div>
                        </div>
                        <div class="input-table-group">
                            <div>
                                <div class="col-sm-2"><label for="confluence-link" class="control-label cursor-pointer">Confluence link</label></div>
                                <div class="col-sm-10"><input type="text" name="confluence-link" id="confluence-link" class="col-sm-12 form-control-static" placeholder="https://plazz-entertainment.atlassian.net/wiki/display/MEAS/" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- android settings -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Android Settings</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 input-table">
                        <div class="input-table-group">
                            <div>
                                <div class="col-sm-2"><label class="control-label">Distribution</label></div>
                                <div class="col-sm-10">
                                    <div class="radio-btn">
                                        <input type="radio" data-type="store" id="radio-android-store" name="android_distribution">
                                        <label for="radio-android-store">Store</label>
                                    </div>
                                    <div class="radio-btn">
                                        <input type="radio" data-type="enterprise" id="radio-android-enterprise" name="android_distribution">
                                        <label for="radio-android-enterprise">Enterprise</label>
                                    </div>
                                    <div class="radio-btn">
                                        <input checked type="radio" data-type="build_only" id="radio-android-build-only" name="android_distribution" >
                                        <label for="radio-android-build-only">Build only</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="input-table-group">
                            <div>
                                <div class="col-sm-2"><label for="app-name-android" class="control-label cursor-pointer">App name</label></div>
                                <div class="col-sm-10"><input type="text" name="app-name-android" required id="app-name-android" class="col-sm-4 form-control-static" placeholder="Mobile Event App" /></div>
                            </div>
                        </div>
                        <hr>
                        <div class="input-table-group">
                            <div>
                                <div class="col-sm-2"><label class="control-label cursor-pointer">Keystore</label></div>
                                <div class="col-sm-10"><input type="file" name="android_keystore" class="form-control-static" /></div>
                            </div>
                        </div>
                        <hr>
                        <div class="input-table-group">
                            <div>
                                <div class="col-sm-2"><label class="control-label cursor-pointer">Icon *</label></div>
                                <div class="col-sm-10">
                                    <label for="android-icon-input">
                                        <div class="icon-preview android-icon empty" id="android-icon" data-trigger="android-icon-input"></div>
                                    </label>
                                    <input id="android-icon-input" required accept="image/png" type="file" class="hidden" name="android_icon" class="form-control-static" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ios settings -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">iOS Settings</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 input-table">
                        <div class="input-table-group">
                            <div class="input-table-group">
                                <div>
                                    <div class="col-sm-2"><label class="control-label cursor-pointer">Distribution</label></div>
                                    <div class="col-sm-10">
                                        <div class="radio-btn">
                                            <input type="radio" data-type="store" id="radio-ios-store" name="ios_distribution">
                                            <label for="radio-ios-store">Store</label>
                                        </div>
                                        <div class="radio-btn">
                                            <input type="radio" data-type="enterprise" id="radio-ios-enterprise" name="ios_distribution">
                                            <label for="radio-ios-enterprise">Enterprise</label>
                                        </div>
                                        <div class="radio-btn">
                                            <input checked type="radio" data-type="build_only" id="radio-ios-build-only" name="ios_distribution" >
                                            <label for="radio-ios-build-only">Build only</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="input-table-group">
                                <div>
                                    <div class="col-sm-2">
                                        <label for="app-name-ios" class="control-label cursor-pointer">App name</label>
                                    </div>
                                    <div class="col-sm-10"><input type="text" required name="app-name-ios" id="app-name-ios" class="col-sm-4 form-control-static" placeholder="Mobile Event App" /></div>
                                </div>
                            </div>
                            <hr>
                            <div class="input-table-group">
                                <div>
                                    <div class="col-sm-2"><label class="control-label cursor-pointer">Icon *</label></div>
                                    <div class="col-sm-10">
                                        <label for="ios-icon-input">
                                            <div class="icon-preview ios-icon empty" id="ios-icon" data-trigger="ios-icon-input"></div>
                                        </label>
                                        <input id="ios-icon-input" accept="image/png" required type="file" class="hidden" name="android_icon" class="form-control-static" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>