<?php

/**
 * @author Torsten Ansorg <ta@plazz.ag>
 */

$this->headTitle('Jenkins');

$jobs_array = ['cms', 'web' , 'ios', 'android'];

function getJobsTable($jobs, $versions, $jobs_array) {
    $html = '<div>';
    $uptodate = true;

    foreach ($jobs_array as $j) {
        $c = '';
        if(count($jobs[$j]) > 0) {
            switch (version_compare($jobs[$j][0]['version'],$versions[$j])) {
                case 0:
                case 1:
                    $c = 'text-success';
                    break;
                case -1:
                    $c = 'text-warning';
                    break;
                default:
                    break;
            }
        }
        $html .= '<div class="version-div '.$j.' '.$c.'">'.(count($jobs[$j]) > 0 ? ($jobs[$j][0]['version'] !== '' ? $jobs[$j][0]['version'] : '-') : '-').'</div>';    
    }
    $html .='</div>';
    return $html;
}
?>

<div class="container">
    <h3>App Folder</h1>
    <div class="jumbotron">
        <div class="list-group">
        <?php
        $status = '';
        foreach ($this->folder as $folder) {
            $h = getJobsTable($folder['jobs'], $this->versions, $jobs_array);
            switch ($folder['status']) {
                case 'approved':
                    $class = 'list-group-item-warning';
                    break;
                case 'uptodate':
                    $class = 'list-group-item-success';
                    break;
                case 'blocked':
                    $class = 'list-group-item-danger';
                    break;
                case 'new':
                    $class = 'list-group-item-info';
                    break;
                default:
                    $class = '';
                    break;
            }
            if($status !== $folder['status']) {
                $class .= ' mt20';
                $status = $folder['status'];
            }
        ?>
        <a href="jenkins/folder/<?= $folder['id'] ?>" class="list-group-item list-group-item-action <?= $class ?>">
            <div style="width: 35%; display:inline-block"><h5><?= $folder['name'] ?></h5></div>
            <div style="width: 50%; display:inline-block"><?= $h ?></div>
            <div class="badge mt10"><?= $folder['status'] ?> </div>
        </a>
        <?php
        }
        ?>
        </div>
    </div>
</div>