body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

.center {
    text-align: center;
}
.ta-right {
    text-align: right;
}

.cursor-pointer {
    cursor: pointer;
}

.side-nav {
    z-index: 200;
    overflow:hidden;
    position: fixed;
    left: 0;
    top: 116px;
    width: 200px;
    display: block;
    background-color: rgba(255,255,255,.95);
    border: 1px solid #ddd;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.05);
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,.05);
    transition: left .2s ease-in-out;
}

.side-nav-head {
    padding-right: 10px;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    color: #286090;
}

.side-nav-head .icon {
    line-height: 30px;
    font-size: 12px;
    display: inline-block;
    opacity: 0;
    transition: all .2s linear;
}

.side-nav.collapse .side-nav-head .icon {
    color: #e7e7e7;
}
.side-nav-element {
    position: relative;
    padding: 0 10px 0 20px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    cursor: pointer;
    color: #286090;
    border-bottom: 1px solid #e7e7e7;
    transition: all .2s ease-in-out;
}
.side-nav-element.disabled {
    color: #e7e7e7;
    cursor: not-allowed;
}
.side-nav-element::after,
.side-nav-head::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    opacity: 0;
    transition: opacity .2s ease-in-out;    
}

.side-nav-element:not(.disabled):hover {
    background-color: rgba(140,196,255,.15);
    color: #009df1;
}

.side-nav-element span.icomoon{
    float: right;
    clear: both;
    font-size: 16px;
    font-weight: normal;
}

.version-div {
    display: inline-block;
    width: 100px;
    padding-left:25px;
    position: relative;
}
.version-div::before {
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Icomoon-Free';
    width: 30px;
    height: 30px;
}

.version-div.cms::before {
    content: '\e979';   
}
.version-div.web::before {
    content: '\ecb0';
}
.version-div.ios::before {
    content: '\ec8a';  
}
.version-div.android::before {
    content: '\ec8c';  
}

.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.h20 {
    height: 20px;
}
.h50 {
    height: 50px;
}
.lh36 {
    line-height: 36px;
}
.pl0i {
    padding-left: 0px !important;
}
.hidden {
    display: none;
}
.input-table .control-label {
    margin-top: 5px;
}
.input-table-group {
    margin: 10px 0 10px 0;
}
.input-table-group > div {
    min-height: 50px;
}
.input-table input[type="text"],
.input-table textarea {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    color: #286090;
    background: #f7f7f7;
}
.input-table textarea {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    resize: none;
}
.input-table input[type="text"]:focus,
.input-table input[type="text"].focus,
.input-table textarea:focus,
.input-table textarea.focus,
.input-table input[type="text"]:focus + button.input-trigger,
.input-table input[type="text"].focus + button.input-trigger,
.input-table textarea:focus + button.input-trigger,
.input-table textarea.focus + button.input-trigger {
    outline: none;
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px rgba(40,96,144,.4);
}   
.input-table input[type="text"].invalid:not(:focus) {
    outline: none;
    border: solid 1px #960000;
    box-shadow: 0 0 3px 1px rgba(204,33,33,0.6);
}

.input-table button.input-trigger {
    position: relative;
    right: 1px;
    font-size: 18px;
    color: #3e3e3e;
    border: solid 1px #dcdcdc;
    background: #f7f7f7;
    height: 36px;
    width: 40px;
    appearance: none;
    outline: none;
    transition: box-shadow 0.3s, border 0.3s, color 0.3s;
}
.input-table button.input-trigger:hover {
    color: #286090;
    /*box-shadow: 0 0 5px 1px #969696;*/
}

.input-table .radio-btn input[type='radio'],
.input-table .radio-btn input[type='checkbox'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    apperance: none;
}

.input-table .radio-btn label {
    font-weight: normal;
    cursor: pointer;
}

.input-table .radio-btn input[type='checkbox']:checked + label::before,
.input-table .radio-btn input[type='checkbox']:not(:checked) + label::before,
.input-table .radio-btn input[type='radio']:checked + label::before,
.input-table .radio-btn input[type='radio']:not(:checked) + label::before {
    content:' ';
    display: inline-block;
    width: 15px;
    height:15px;
    position: relative;
    top:3px;
    border: solid 1px #707070;
    border-radius: 1px;
    background:#ffffff;
    margin-right: 1em;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
    transition: box-shadow .4s cubic-bezier(0.175, 0.985, 0.32, 1.475), border .4s cubic-bezier(0.175, 0.985, 0.32, 1.475);
}

.input-table .radio-btn input[type='checkbox']:hover  + label::before,
.input-table .radio-btn input[type='radio']:hover  + label::before {
  background:#ddd;
  box-shadow: inset 0 0 0 1px #ffffff;
}

.input-table .radio-btn input[type=radio]:checked + label::before,
.input-table .radio-btn input[type=radio]:not(:checked) + label::before {
  border-radius: 30px;
}

.input-table .radio-btn input[type='checkbox']:checked  + label::before,
.input-table .radio-btn input[type='radio']:checked  + label::before {
  background:#286090;
  box-shadow: inset 0 0 0 2px #ffffff;
  border: solid 1px #286090;
}
.input-table .radio-btn input[type='checkbox']:checked  + label,
.input-table .radio-btn input[type='radio']:checked  + label {
    color:#286090;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #c9c9c9;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #c9c9c9;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #c9c9c9;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #c9c9c9;
}

.icon-preview {
    position: relative;
    width: 120px;
    height: 120px;
    border: solid 1px #dcdcdc;
    background: #f7f7f7;
}
.icon-preview.ios-icon {
    border-radius: 10%;
}

.icon-preview.empty::before {
    content: '\eb08';
    font-family: 'Icomoon-Free';
    position: absolute;
    left: 0;
    top: 50%;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
    margin-top: -30px;
    width: 100%;
    color: #969696;
    text-align: center;
}
.icon-preview.empty::after {
    content: 'upload icon';
    position: absolute;
    left: 0;
    top: 50%;
    height: 20px;
    line-height: 20px;
    width: 100%;
    color: #969696;
    text-align: center;
    font-weight: bolder;
}

.icon-preview > img {
    border-radius: 10px;
    width: 118px;
}


@media screen and (max-width: 768px) {
    .input-table-group > div {
        min-height: 70px;
    }
    .domain-suffix {
        display: none;
    }
    .input-trigger {
        margin-left: -4px;
        top: 1px;
    }
}

@media screen and (max-width: 384px) {
    .input-table input[name="maturity"] {
        width: calc(100% - 40px);
        min-width: 110px;
    }
}

@media screen and (max-width: 1536px) {
    .side-nav.collapse {
        left: -160px;
    }
    .side-nav.collapse:hover {
        left: 0px;
    }
    .side-nav .side-nav-head {
        cursor: pointer;
    }
    .side-nav .side-nav-head .icon {
        opacity: 1;
    }
}