<div class="jumbotron">
    <?php
    $this->headTitle('Overview');
    $j = ['cms', 'web', 'ios', 'android'];
    ?>
    <h4>MEA Overview</h1>
    <!--<pre>
        <?= var_dump($this->data['jobs']); ?>
    </pre>-->

    <table style="width: 100%">
        <?php
        foreach ($this->data['jobs'] as $folder):
            ?>
            <tr style="height: 30px; border: 1px solid #d7d7d7;">
                <td style="padding-left:20px;"><?= $folder['displayName'] ?></td>
                <?php
                for ($i=0; $i < count($j) ; $i++) { 
                ?>
                    <td class="<?= $j[$i] ?>">
                    <?php
                    foreach($folder['jobs'] as $job):
                        var_dump(preg_match(($j[$i]), $job['displayName']));
                        /* if(preg_match($j[$i], $job['displayName']) !== false) {
                            echo $job['displayName'].' - '.$job['lastCompletedBuild']['displayName'];
                            
                        } */
                    endforeach; 
                    ?>
                    </td>
                    <?php
                }
                ?>
            </tr>
            <?php
        endforeach;
        ?>
    </table>
</div>

